* {
  font-family: 'Roboto', sans-serif;
}

body,
.main-nav ul,
.hero,
.hero-text,
.main-gallery,
.main-images,
.quote-wrapper {
  display: flex;
}

body {
  flex-direction: column;
  margin: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

header,
footer {
  background-color: #1f2937;
  justify-content: space-around;
  align-items: center;
}

.main-nav ul a {
  color: #e5e7eb
}

.main-nav ul .logo {
  font-size: 1.3rem;
  margin-right: auto;
  font-weight: bold;
}

.main-nav ul {
  gap: 32px;
  padding-left: 0;
}

.hero {
  padding: 120px 0;
  gap: 40px;
  justify-content: center;
}

.hero-text,
.big-quote {
  flex-direction: column;
}

.hero-text h1 {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

.hero-text p {
  font-size: 18px;
  color: #e5e7eb;
}

.hero-button {
  background-color: #3882f6;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  width: 120px;
  height: 40px;
  border: none;
  border-radius: 5px;
}

.main-content {
  text-align: center;
}

.main-content h2 {
  font-size: 36px;
  font-weight: 900;
}

.main-content h2,
.big-quote {
  color: #1f2937;
}

.main-gallery {
  flex-direction: row;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: center;
}

.images {
  max-width: 200px;
}

.images img {
  border-radius: 20px;
}

.quote-wrapper {
  background-color: #e5e7eb;
  flex-direction: column;
  padding: 120px 0;
}

.quote {
  font-size: 36px;
  font-style: italic;
  font-weight: 200;
  margin: 0;
}

.figcaption {
  margin: 0;
  align-self: flex-end;
  font-weight: bold;
}
