* {
  font-family: 'Roboto', sans-serif;
}

body,
.main-nav ul,
.header-wrapper,
.hero,
.hero-text,
.main-wrapper,
.main-gallery,
.main-images {
  display: flex;
}

body {
  flex-direction: column;
  margin: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

header,
footer {
  background-color: #1f2937;
  justify-content: space-around;
  align-items: center;
}

.header-wrapper,
.main-wrapper {
  margin: auto;
  flex-direction: column;
  max-width: 70vw;
}

.main-nav ul a {
  color: #e5e7eb
}

.main-nav ul .logo {
  font-size: 1.3rem;
  margin-right: auto;
  font-weight: bold;
}

.main-nav ul {
  gap: 32px;
  padding-left: 0;
}

.hero {
  padding: 120px 0;
  gap: 40px
}

.hero-text {
  flex-direction: column;
}

.hero-text h1 {
  font: extra-bold 48px;
  color: #f9faf8;
}

.hero-text p {
  font-size: 18px;
  color: #e5e7eb;
}

.hero-button {
  background-color: #3882f6;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  width: 120px;
  height: 40px;
  border: none;
  border-radius: 5px;
}

.main-content {
  text-align: center;
}

.main-content h2 {
  font: extra-bold 36px;
  color: #1f2937;
}

.main-gallery {
  flex-direction: row;
  gap: 50px;
}

.images img {
  border-radius: 20px;
}